/* @copyright 2014-2022, Vancouver Film School */
.grid-wrapper {
    display: grid;
    grid-template-columns: 2em 5em 1fr 4fr 1fr 5em 2em;
    grid-template-rows: 1em 0.5fr 0.5fr 4fr 1fr 2em 2em;
}
    .grid-column-full {
        grid-column-start: 1;
        grid-column-end: 7;
    }

    .grid-gutter-left {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .grid-sidebar-left {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .grid-column-main {
        grid-column-start: 4;
        grid-column-end: 5;
    }
    .grid-sidebar-right {
        grid-column-start: 5;
        grid-column-end: 6;
    }
    .grid-gutter-right {
        grid-column-start: 6;
        grid-column-end: 7;
    }

    .grid-row-full {
        grid-row-start: 1;
        grid-row-end: 7;
    }

    .grid-row-top {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .grid-row-head {
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .grid-row-main {
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .grid-row-tail {
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .grid-row-foot {
        grid-row-start: 6;
        grid-row-end: 7;
    }
