/*
 * CSS Styles for angryPigs Demo App
 *
 * Copyright 2014, Vancouver Film School
 *
 */

body {
    background-color:black;
}

body,div {
    margin:0;
    padding:0;
    border:none;
    color:#fff;
    background-color: grey;
    font-family: "American Typewriter";
}

/* Styles for illustrating the example */
a {
    color:#FFF;
    text-decoration:underline;
}

div {
    background-color: #999;
}

input {
    height: 1.1em;
    font-weight: 500;
    font-size: 1em;
}

/* Styles for the experiment GUI */
.left { left:2em; }
.right { right: 2em; }
.panel {
    font-size: 14px;
    position: fixed;
    right:0;
    width: 17vw;
    z-index:2;
    background-color: #555;
    padding: 10px;
}

.menu {
    justify-content: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/* entities */
.entity {
    background-color:transparent;
    background-size:100% 100%;
    margin:0px;
    position: absolute;
}

.circle { border-radius: 32px; }

.debug {
    background:transparent;
    border:1px dashed red;
    position:absolute;
    z-index: 6000;
}

.debug:before {
    z-index:-1;
    top:50%;
    left:37%;
    width:25%;
    border-top: 1px dotted yellow;
}

.debug:after {
    z-index:-1;
    top:37%;
    left:50%;
    height:25%;
    border-left: 1px dotted yellow;
}

.obstacle {
    background-size:100% 100%;
    background-repeat: no-repeat;
    color: red;
    position:absolute;
    transform: rotate(0deg);
}

.stone-box { background-image:url("/common/images/crate-six.jpg"); }
.metal-box { background-image:url("/common/images/crate-four.jpg"); }
.crate-one { background-image:url("/common/images/crate1.jpg");}
.crate-two { background-image:url("/common/images/crate2.jpg"); }

.projectile {
    background-image:url("/common/images/pig.png");
    background-size:100% 100%;
    height:50px;
    position:absolute;
    width:50px;
    z-index:2500;
}

.target, .birdie, .birdie.debug {
    animation: birdie-idle .5s steps(4) infinite;
    background-image:url("/common/images/bird.png");
    background-size:128px 128px;
    height:32px;
    transform: translate(755px, 380px) rotate(15deg);
    width:32px;
    z-index:7500;
}

@keyframes birdie-idle {
    from { background-position: 0px -128px; }
    to { background-position: -128px -128px; }
}

.game-size {
    height:var(--map-height);
    width:var(--map-width);
    overflow-y: scroll;
}

.dom-canvas { position: relative; }

.play-area {
    background-color: black;
    background-image: url("/common/images/angry-pigs-bg.jpg");
    background-size: 100% 100%;
    left: 0;
    top: 0;
    z-index:200;
    overflow:hidden;
}

#debug-canvas { z-index: 250;}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.about-nav {
    width: 100px;
    height: 200px;
    background-image:url("/common/images/strong-box.jpg");
    background-size:100% 100%;
    transform: rotate(68deg);
}

.pixels {
    color: white;
    width: 400px;
    height: 150px;
    background-image:url("/common/images/strong-box.jpg");
    background-size:100% 100%;
}

.cannon-container {
    background: transparent;
    display: inline-block;
}

.cannon {
    background-image:url("/common/images/cannon.png");
    background-size:300px 150px;
    background-color: transparent;
    height: 150px;
    width: 150px;
    z-index: 5000;
}

.cannon-top {
    background-position:-150px 0px;
    transform-origin: 40% 40%;
    z-index: 5500;
}

.cannon-bottom {
    background-position:0px 0px;
    z-index: 5400;
}

.fire-btn {
    width: 80px;
    height: 80px;
    /* left: 80px;
    top: 490px; */

    background-image:url("/common/images/launch.jpg");
    background-size:200% 100%;
    background-position:0px 0px;

    z-index: 10000;
}
